#app .navbar {
  position: relative;
}
#searchContainer {
  position: absolute;
  width: 300px;
  left: calc(50% - 150px);
}

.userSearchResult:hover,
.userSearchResult {
  color: #000;
  text-decoration: none;
}

.userSearchResult:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  #app .navbar .container:not(.noSearch) {
    padding-bottom: 75px;
  }

  #searchContainer {
    bottom: 25px;
  }
}
